<%- include('partials/header'); -%>

<header>
  <!-- <div class="smoothie">
    <img src="/diary.jfif" alt="" />
  </div> -->
  <div class="headings">
    <h2>Create Your diary</h2>
    <h3>By Tunminazy</h3>
    <a href="/create" class="btn">Create Your Diary</a>
  </div>
</header>

<%- include('partials/footer'); -%>
